In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('lunch.db')

In [3]:
c=conn.cursor()

In [4]:
c.execute('''CREATE TABLE meals(sandwich TEXT,fruit TEXT,tablenumber INT)''')

In [5]:
sandwich='ham'
fruit='apple'
tablenumber=21

In [6]:
c.execute('''INSERT INTO meals VALUES(?,?,?)''',(sandwich,fruit,tablenumber))

In [7]:
conn.commit()

In [8]:
c.execute('''SELECT * FROM meals''')
results=c.fetchall()
print(results)

[('ham', 'apple', 21)]

In [9]:
sandwich='chicken'
fruit='banana'
tablenumber=22

In [10]:
c.execute('''INSERT INTO meals VALUES(?,?,?)''',(sandwich,fruit,tablenumber))

In [11]:
conn.commit()

In [12]:
c.execute('''SELECT * FROM meals''')
results=c.fetchall()
print(results)

[('ham', 'apple', 21), ('chicken', 'banana', 22)]

In [13]:
sandwich='jam'
fruit='orange'
tablenumber=23

In [14]:
c.execute('''INSERT INTO meals VALUES(?,?,?)''',(sandwich,fruit,tablenumber))

In [15]:
conn.commit()

In [16]:
c.execute('''SELECT * FROM meals''')
results=c.fetchall()
print(results)

[('ham', 'apple', 21), ('chicken', 'banana', 22), ('jam', 'orange', 23)]

In [17]:
c.execute('''SELECT fruit FROM meals''')
results=c.fetchall()
print(results)

[('apple',), ('banana',), ('orange',)]

In [18]:
c.execute('''SELECT sandwich FROM meals''')
results=c.fetchall()
print(results)

[('ham',), ('chicken',), ('jam',)]